<div class="search-section">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>{{ label }}</mat-label>
    <input 
      matInput 
      [formControl]="searchControl"
      (input)="onSearchChange($event)"
      [placeholder]="placeholder"
      [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTagSelected($event.option.value)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        <mat-icon>local_offer</mat-icon>
        <span class="tag-option">{{ tag }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  <div class="search-hints" *ngIf="availableTags.length > 0">
    <small>Type "tag:" to search by tags</small>
  </div>
</div>
